<div class="alert alert-warning" ng-show="message">
	{{message}}
</div>
<div ng-show="valid">
	<h5>Suppression <b>"{{nameSuppr}}"</b></h5>
	<i>Ceci supprimera également toutes les photos associés.</i>
	<input type="password" ng-model="password"><button ng-click="validSuppr()">Supprimer</button>
</div>

<div ng-show="showEdit">
	<button ng-click="annulEdit()">Annuler l'edition</button>
	<div>
		<div class="btn btn-primary btn-upload" upload-button url="{{uriApi}}" on-success="onSuccess(response)">Ajouter une photo</div> <!-- multiple="true" -->
		<ul id="listImg"></ul>
	</div>
	Nom : <input type="text" placeholder="Nom" ng-model="lieuEdit.name"><button ng-click="validEdit()">Valider l'edition</button><br>
	Texte : <textarea id="texteLieu" ng-model="lieu.text" name="about" rows="5" cols="30" class="form-control"></textarea>
	<ul style="list-style-type: none;" id="lsPic"></ul>
</div>

<div style="clear: both" ng-show="list">
	<ul>
		<li ng-repeat="lieu in lieux">
			{{lieu.name}}<button ng-click="edit(lieu)">Editer</button><button ng-click="suppr(lieu._id, lieu.name)">Supprimer</button>
		</li>
	</ul>
</div>
